
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

canvas {
  display: block; 
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
} */



/* ************************* */

@keyframes marquee {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-100%);
  }
}

body {
  background-image: url("/background/default-bg.jpg");
}

.animate-marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 32s linear infinite;
}

@keyframes bgMove {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1000px;
  }
}

.animate-bgMove {
  animation: bgMove 200s linear infinite;
}
